<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alz.board.mapper.CommentMapper">

	<select id="selectAll" resultType="alz.board.domain.CommentDTO">
		select id, content, written_at writtenAt, updated_at updatedAt, like_cnt likeCnt,
				comment_cnt commentCnt, comment_code commentCode, board_id boardId, nickname, depth, deleted, user_id userId
		from alz_comment
		where board_id = #{id}
		order by comment_code
	</select>
	
	<select id="selectById" resultType="alz.board.domain.CommentDTO">
		select id, content, written_at writtenAt, updated_at updatedAt, like_cnt likeCnt,
				comment_cnt commentCnt, comment_code commentCode, board_id boardId, nickname, depth, deleted, user_id userId
		from alz_comment
		where id = #{id}
	</select>

	<insert id="insert">
	
		<selectKey keyProperty="commentCode" order="BEFORE" resultType="String">
			select DECODE(code, null, '01', LPAD(code+1, 2, '0')) commentCode
			from (select MAX(comment_code) code
			        from alz_comment
			       where board_id = #{boardId} and depth = 0)
		</selectKey>
		
		insert into alz_comment (id, content, comment_code, board_id, nickname, user_id)
		values (alz_comment_seq.nextval, #{content}, #{commentCode}, #{boardId}, #{nickname}, #{userId})
	</insert>
	
	<insert id="insert2">
	
		<selectKey keyProperty="commentCode" order="BEFORE" resultType="String">
			select comment_code|| code
			from (select LPAD(max(comment_cnt)+1, 2, '0') code
					from alz_comment
					where id=#{id} ), alz_comment
			where id=#{id}
		</selectKey>
		
		insert into alz_comment (id, content, comment_code, board_id, nickname, depth, user_id)
		values (alz_comment_seq.nextval, #{content}, #{commentCode}, #{boardId}, #{nickname}, #{depth}, #{userId})
	</insert>
	
	<update id="updateCnt">
	
		update alz_comment
		set comment_cnt = #{commentCnt}
		where id = #{id}
	
	</update>
	
	<update id="updateById">
	
		update alz_comment
		set content = #{content},
			updated_at = sysdate
		where id = #{id}
		
	</update>
	
	<delete id="deleteById">
		update alz_comment
		set deleted = 'Y',
			updated_At = sysdate
		where id = #{id}
	</delete>

</mapper>